{% extends 'base.html.twig' %}

{% block title %}Cartes Paninis{% endblock %}

{% block body %}
    <h1>Mes cartes</h1>

    <ul>
        {% for panini in paninis %}
            <li>{{ Panini.id }}</li>
            <li>{{ Panini.description }}</li>
            <li>{{ Panini.album }}</li>
        {% endfor %} {# todos #}
    </ul>

{% endblock %} {# body #}