{% extends 'base.html.twig' %}

{% block title %}Ajouter un panini{% endblock %}

{% block body %}
    {{parent()}}
    <div class="container">
        <h1>Ajouter un panini</h1>
        <h2>{{ album.nom }}</h2>

        {{ include('album/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <a href="{{ path('album_show', {'album_id' : album.id, 'membre_id' : membre.id}) }}" class="btn btn-secondary btn-sm">Retour à la liste d'album</a>

    </div>
    <style>
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h1 {
            font-size: 32px;
            color: #333;
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
            color: #007bff;
            margin-right: 10px;
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            color: #0056b3;
        }

        .btn {
            background-color: #28a745;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            text-decoration: none;
            transition: background-color 0.3s ease-in-out;
        }

        .btn:hover {
            background-color: #218838;
        }

        .btn-sm {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #999;
            color: #000;
            border: 5px solid #999;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-sm:hover {
            background-color: #777;
            border-color: #777;
            color: #000;
            text-decoration: none;
        }
    </style>
{% endblock %}