{% extends 'base.html.twig' %}

{% block title %}Mes Albums{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Mes Albums</h1>
    <table>
        <tr>
            <th>Nom</th>
            <th>Voir</th>
        </tr>

        {% for album in albums %}
        <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.nom }}</td>
                <td><a href=\"{{ path('album_show', {'id': album.id}) }}\">Voir</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan=\"2\">Aucun album trouvé</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
