{% extends 'base.html.twig' %}

{% block title %}Nouvel album{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Créer un nouvel album</h1>

    {{ include('album/_form.html.twig') }}

    <a href="{{ path('membre_show', {'membre_id' : membre_id}) }}">Retour à la liste</a>
{% endblock %}