{% extends 'base.html.twig' %}

{% block title %}Modifier l'équipe{% endblock %}

{% block body %}
    {{  parent() }}
    <div class="container">
        <h1>Modifier l'équipe</h1>

        {{ include('equipe/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <a href="{{ path('equipe_index') }}" class="btn btn-secondary">Retour à la liste des équipes</a>

        {{ include('equipe/_delete_form.html.twig') }}
    </div>
    <style>
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h1 {
            font-size: 32px;
            color: #333;
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
            color: #007bff;
            margin-right: 10px;
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            color: #0056b3;
        }

        .btn {
            background-color: #28a745;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            text-decoration: none;
            transition: background-color 0.3s ease-in-out;
        }

        .btn:hover {
            background-color: #218838;
        }

        .btn-secondary {
            background-color: #6c757d;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
        }
    </style>
{% endblock %}
