{% extends 'base.html.twig' %}

{% block title %}Nouvelle équipe{% endblock %}

{% block body %}
    <h1>Créer une nouvelle équipe</h1>

    {{ include('equipe/_form.html.twig') }}

    <a href="{{ path('equipe_index') }}">Retour à la liste</a>
{% endblock %}
