{% extends 'base.html.twig' %}

{% block title %}Nouvelle équipe{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Créer une nouvelle équipe</h1>

    {{ include('equipe/_form.html.twig') }}

    <a href="{{ path('membre_show', {'membre_id' : membre_id}) }}">Retour à la liste</a>
{% endblock %}
